@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "css/clock.css";
@import "css/information.css";

:root{
    --color-white: #ffffff;
    --color-white-blur: #EAECF3;
    --color-grey: #9E9FA6;
    --color-grey-alt: #605E65;
    --color-black: #000000;
    --color-purpur: #3F3DB6;
    --main-shadow: 8px 8px 20px rgba(170, 170, 170, 0.25), -6px -7px 20px rgba(255, 255, 255, 0.5), inset -6px -1px 10px 2px rgba(255, 255, 255, 0.5), inset 5px 7px 10px -1px rgba(166, 166, 166, 0.25);
}
[scheme="dark"] {
    --text: rgba(72, 83, 92, 0.3) rgba(35, 40, 45, 0.25);
    --color-white-blur: #363E46;
    --main-shadow: 8px 8px 20px rgba(35, 40, 45, 0.25), -6px -7px 20px rgba(72, 83, 92, 0.3), inset -6px -1px 10px 2px rgba(72, 83, 92, 0.3), inset 5px 7px 10px -1px rgba(35, 40, 45, 0.25);
    --color-black: var(--color-white);
    --color-grey-alt: var(--color-grey);
}

*:not(svg *) {
    all: unset;
    display: revert;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--color-white-blur);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-black);
    overflow: hidden;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 92px;
}